In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("combined-data/spotify-data.csv")

In [5]:
df.head()

,endTime,artistName,trackName,msPlayed,Language
0,2021-01-20 19:34,Billie Eilish,i love you,205230,en
1,2021-01-21 00:05,Atif Aslam,Tu Jaane Na,341933,mr
2,2021-01-21 00:11,Atif Aslam,Aadat,333740,hi
3,2021-01-21 00:15,Akhil Sachdeva,"Humsafar (From ""Badrinath Ki Dulhania"")",268463,hi
4,2021-01-21 00:20,Arijit Singh,"Tujhe Kitna Chahne Lage (From ""Kabir Singh"")",284779,hi

In [6]:
df = df.rename(columns={'artistName':'artist', 'trackName':'track', 'msPlayed':'duration'})

In [13]:
df['duration'] = df['duration']/60000

In [14]:
df.head()

,endTime,artist,track,duration,Language
0,2021-01-20 19:34,Billie Eilish,i love you,3.420500,en
1,2021-01-21 00:05,Atif Aslam,Tu Jaane Na,5.698883,mr
2,2021-01-21 00:11,Atif Aslam,Aadat,5.562333,hi
3,2021-01-21 00:15,Akhil Sachdeva,"Humsafar (From ""Badrinath Ki Dulhania"")",4.474383,hi
4,2021-01-21 00:20,Arijit Singh,"Tujhe Kitna Chahne Lage (From ""Kabir Singh"")",4.746317,hi