In [172]:
import pandas as pd
import seaborn as sns

In [173]:
temp_df = pd.read_csv('combined-data/spotify-data.csv')

In [174]:
temp_df.head()
temp_df.shape

(28762, 5)

In [175]:
df = temp_df.copy(deep=True)
df.drop(['endTime', 'Language'], inplace=True, axis=1)
df.head()

       artistName                                     trackName  msPlayed
0   Billie Eilish                                    i love you    205230
1      Atif Aslam                                   Tu Jaane Na    341933
2      Atif Aslam                                         Aadat    333740
3  Akhil Sachdeva       Humsafar (From "Badrinath Ki Dulhania")    268463
4    Arijit Singh  Tujhe Kitna Chahne Lage (From "Kabir Singh")    284779

In [176]:
df = df.rename(columns={'artistName':'artist', 'trackName':'track', 'msPlayed':'time'})
df.head()

           artist                                         track    time
0   Billie Eilish                                    i love you  205230
1      Atif Aslam                                   Tu Jaane Na  341933
2      Atif Aslam                                         Aadat  333740
3  Akhil Sachdeva       Humsafar (From "Badrinath Ki Dulhania")  268463
4    Arijit Singh  Tujhe Kitna Chahne Lage (From "Kabir Singh")  284779

In [177]:
df.shape

(28762, 3)

In [178]:
df = pd.DataFrame(df.groupby(['track', 'artist']).sum())

In [179]:
df.shape

(3275, 1)

In [180]:
df.head()

                                                                    time
track                                        artist
!I'll Be Back!                               Rilès                117946
$orries                                      Peachy!             3163396
(Everything I Do) I Do It For You            Bryan Adams           13023
(I Can't Get No) Satisfaction - Mono Version The Rolling Stones   222813
(i hope you) miss me                         Joseph Black          78056

In [181]:
df.drop_duplicates()

                                                                    time
track                                        artist
!I'll Be Back!                               Rilès                117946
$orries                                      Peachy!             3163396
(Everything I Do) I Do It For You            Bryan Adams           13023
(I Can't Get No) Satisfaction - Mono Version The Rolling Stones   222813
(i hope you) miss me                         Joseph Black          78056
...                                                                  ...
you were good to me                          Jeremy Zucker       3971111
you're not lost                              eaup                 148037
Éxtasis                                      Pablo Alborán        238013
Малыш - XZEEZ & Ablaikan Remix               JANAGA               274133
РАТАТАТАТА                                   MORGENSHTERN         155366

[3155 rows x 1 columns]

In [182]:
final_df = df.sort_values(by=['time'], ascending=False)
final_df.head(10)

                                                                time
track                                        artist
20/20                                        Lil Tjay       33924863
Calling My Phone                             Lil Tjay       30549381
Dreamcatcher (feat. Swae Lee & Travis Scott) Metro Boomin   26472923
Come and See Me (feat. Drake)                PARTYNEXTDOOR  22827141
Car Sick (feat. NAV & Metro Boomin)          Gunna          20147759
Dancin - Krono Remix                         Aaron Smith    19045919
Soul Ties                                    Kaash Paige    18783030
My Affection (with PARTYNEXTDOOR)            Summer Walker  18646089
Love Galore (feat. Travis Scott)             SZA            18321221
Exchange                                     Bryson Tiller  17948818