In [21]:
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt

In [8]:
temp_df = pd.read_csv('C:\\Users\\sansk\\Desktop\\github\\spotify\\combined-csv\\ldsp.csv')

In [9]:
temp_df.head()
temp_df.shape

(10000, 4)

In [11]:
df = temp_df.copy(deep=True)
df.drop(['endTime'], inplace=True, axis=1)
df.head()

    artistName                           trackName  msPlayed
0  dontaskalex                              Heaven     97895
1       Offset  Ric Flair Drip (with Metro Boomin)       983
2    DJ Khaled               POPSTAR (feat. Drake)       644
3    Pop Smoke                                Dior      2848
4        Drake    Chicago Freestyle (feat. Giveon)      5020

In [12]:
df = df.rename(columns={'artistName':'artist', 'trackName':'track', 'msPlayed':'time'})
df.head()

        artist                               track   time
0  dontaskalex                              Heaven  97895
1       Offset  Ric Flair Drip (with Metro Boomin)    983
2    DJ Khaled               POPSTAR (feat. Drake)    644
3    Pop Smoke                                Dior   2848
4        Drake    Chicago Freestyle (feat. Giveon)   5020

In [13]:
df.shape

(10000, 3)

In [14]:
df9 = pd.DataFrame(df.groupby(['track', 'artist']).sum())

In [15]:
df9.shape

(1758, 1)

In [16]:
df9.head()

                                                                    time
track                                        artist
!I'll Be Back!                               Rilès                117946
(I Can't Get No) Satisfaction - Mono Version The Rolling Stones   222813
(i hope you) miss me                         Joseph Black          78056
03:00                                        Finding Hope        1122421
03:15                                        Bazzi               3432660

In [17]:
df9.drop_duplicates()

                                                                    time
track                                        artist
!I'll Be Back!                               Rilès                117946
(I Can't Get No) Satisfaction - Mono Version The Rolling Stones   222813
(i hope you) miss me                         Joseph Black          78056
03:00                                        Finding Hope        1122421
03:15                                        Bazzi               3432660
...                                                                  ...
worst day                                    sagun                133902
you don't have to cry                        Nohidea              801033
you were good to me                          Jeremy Zucker        843708
you're not lost                              eaup                 148037
Éxtasis                                      Pablo Alborán        238013

[1686 rows x 1 columns]

In [18]:
df9.shape

(1758, 1)

In [19]:
final_df = df9.sort_values(by=['time'], ascending=False)
final_df.head(10)

                                                               time
track                                        artist
Dreamcatcher (feat. Swae Lee & Travis Scott) Metro Boomin  18573207
20/20                                        Lil Tjay      12570568
Calling My Phone                             Lil Tjay      11338600
ATL Freestyle                                6LACK         11258072
GREECE (feat. Drake)                         DJ Khaled     10063158
Car Sick (feat. NAV & Metro Boomin)          Gunna          9743293
too many feelings                            Ruel           8773575
Laugh Now Cry Later (feat. Lil Durk)         Drake          8732166
Space Cadet (feat. Gunna)                    Metro Boomin   8722707
Some Things                                  Verzache       8018271

In [23]:
plt.figure(figsize=(12, 10))
sns.barplot(data=final_df, x='time', y='track')
sns.despine(left=True, bottom=True)
plt.ylim(40, 0)

ValueError: Could not interpret input 'track'